
/* ==========================================================================
	Overlay
/* ========================================================================== */
.container {
  @include breakpoint-max(sm) {
    padding: 0 rem(24);
  }
}

/* ==========================================================================
	Margin & paddings
/* ========================================================================== */
.w-flex{
  @include padding();
}


.on-dark {
  .h1, .h2, .h3, .h4, .h5,
  p, a, ul li, ol li {
    color: $white;
  }

}

.on-dark-bg {
  background-color: $primary-black;
}
