.discover-product {
    position: relative;
    &__content {
        @include flex-col(12);

        @include breakpoint(sm) {
            @include flex-col(10);
            @include offset(1);
        }
        @include breakpoint(md) {
            @include flex-col(6);
            @include offset(6);
        }
        @include breakpoint(lg) {
            @include flex-col(5);
            @include offset(6);
        }
    }

    &__img-container {
        height: rem(200);
        @include breakpoint(sm) {
            height: rem(300);
        }
        @include breakpoint(md) {
            height: auto;
            @include offsetcontainer('left', md 6, 'fluid');
        }
        position: relative;
        overflow: hidden;
    

        img {
            @include img-full();
            object-fit: contain;
        }
    }

    &__text {
        margin-top: rem(16);

    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: rem(40);
    }
}