.last-news {
    position: relative;
    overflow: hidden;

    &__header {
        display: flex;
        flex-direction: column;

        @include breakpoint-max(sm) {
            .btn-container {
                margin-top: rem(24);
            }
        }

        @include breakpoint(sm) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    .row {
        @include breakpoint-max(lg) {
            margin: 0;
        }
    }

    &__list {
        margin-top: rem(48);
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .swiper-container {
            overflow: visible;
            width: rem(280);
            margin-left: 0;
            @include breakpoint(lg) {
                margin: 0;
                width: 100%;
            }
        }

        .swiper-wrapper {
            @include breakpoint(lg) {
                width: 100%;
            }
        }

        .w-news {
            @include breakpoint-only(md) {
                &:last-of-type {
                    display: none;
                }
            }
        }
    }

    &__w-card {
        
        @include breakpoint(lg) {
            margin: auto;
            @include flex-col(3);
            margin-top: 0;
        }

        .card-news__category {
            color: white;
        }
    }

    &__pagination {
        
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: rem(24);
        @include breakpoint(lg) {
            display: none;
        }
        .swiper-pagination-bullet {
            width: rem(12);
            height: rem(12);
            border: rem(2) solid $secondary-01;
            border-radius: 50%;
            background-color: transparent;
            @include transition(background-color, 250ms);

            &-active {
                background-color: $secondary-01;
            }


            & + .swiper-pagination-bullet {
                margin-left: rem(8);
            }
        }

        
    }
}