.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: white;
  box-shadow: $box-shadow-light;

  &.menu-open {
    .w-header {

      @include breakpoint(md) {
        width: 40%;
        margin-left: auto;
        transition: width 0.3s cubic-bezier(0.25, 1, 0.5, 1);
      }

      @include breakpoint(lg) {
        width: 50%;
      }

      .header {
        &__open-menu {
          display: none;
        }

        &__close-menu {
          display: block;
        }
      }

    }
  }

  .w-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: rem(72);
    width: 100%;
    margin-left: auto;
    margin-right: 0;
    transition: width 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  }

  &__logo {
    img {
      width: rem(120);
    }
  }

  &__cart {
    width: rem(24);
    margin-right: rem(40);
  }

  &__open-menu {
    cursor: pointer;
    height: rem(28);
  }

  &__close-menu {
    display: none;
    cursor: pointer;
    height: rem(28);
  }

  &__right {
    display: flex;
    align-items: center;
  }


  &__menu {
    position: absolute;
    left: 0;
    z-index: 99;
    background-color: white;
    width: 100%;
    height: calc(100vh - 72px);
    transform: translateX(-100%);
    transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1);

    display: flex;
    align-items: center;

    &.active {
      transform: translateX(0);
      transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1);

      .header__menu__watch {
        &--pro {
          transform: translateX(0);
        }
        &--classic {
          transform: translateX(-50%);
        }

      }

    }


    .w-menu {
      height: 100%;
      display: flex;
      flex-direction: column;
      @include flex-col(10,12);
      @include offset(1,12);
      @include breakpoint(sm) {
        @include flex-col(8,12);
        @include offset(2,12);
      }
      @include breakpoint(md) {
        @include flex-col(5,12);
        @include offset(7,12);
      }
      @include breakpoint(lg) {
        @include offset(6,12);
      }
    }

    .menu {


      &__item {
        @extend %h2;
        margin-bottom: rem(64);


        @include breakpoint(sm) {
          margin-bottom: rem(56);
        }

      }

      &__link {
        color: black;

        position: relative;

        &:before {
          @include transition(all, 100ms);
          content: '';
          width: 0;
          height: rem(2);
          position: absolute;
          left: 0;
          bottom: 0;
          background-color: $secondary-01;
        }

        @include breakpoint(md) {
          &:hover {
            &:before {
              width: 100%;
            }
          }
        }
      }
    }

    &__footer {
      padding-top: rem(32);
      border-top: rem(2) solid $secondary-01;
      @include breakpoint(sm) {
        padding-top: rem(48);
      }
    }

    &__watch {
      width: 50%;
      position: absolute;
      left: 0;
      top: rem(-72);
      height: 100vh;
      background-repeat: no-repeat;
      background-size: 60vh;
      background-position: center center;
      cursor: pointer;

      transition: transform .5s $primary-ease;

      @include breakpoint-max(md) {
        display: none;
      }

      @include breakpoint(lg) {
        width: 40%;
      }


      h2 {
        position: absolute;
        width: rem(240);
        top: rem(72);
        transform: rotate(-90deg);
        transform-origin: right;
        text-align: right;
        text-transform: uppercase;
        right: rem(72);
      }

      &--pro {
        transform: translateX(-100%) translateZ(0);
        background-color: $primary-black;
        background-image: url(../../static/img/watch/pro/gray/watch-gray-front.png);

        transition-delay: .1s;

        @include breakpoint(md) {
          &:hover {
            & + .header__menu__watch {
              transform: translateX(-60%) translateZ(0);
            }
          }
        }



        h2 {
          color: $primary-white;
        }

      }

      &--classic {
        transform: translateX(-150%) translateZ(0);
        background-color: white;
        z-index: 20;
        background-image: url(../../static/img/watch/elegant/ocre/watch-elegant-ocre.png);

        transition-delay: .2s;

        @include breakpoint(md) {
          &:hover {
              transform: translateX(-40%) translateZ(0) !important;
          }
        }


        h2 {
          color: $primary-black;
        }
      }
    }

    }
}