$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "./../../static/fonts/icomoon/fonts" !default;

$icon-add: "\e900";
$icon-addlocation: "\e901";
$icon-arrowback: "\e902";
$icon-arrowbotom: "\e903";
$icon-arrowright: "\e904";
$icon-arrowup: "\e905";
$icon-avatar: "\e906";
$icon-bullet: "\e907";
$icon-calendar: "\e908";
$icon-cards: "\e909";
$icon-chat: "\e90a";
$icon-check: "\e90b";
$icon-close: "\e90c";
$icon-comments: "\e90d";
$icon-creditcard: "\e90e";
$icon-date: "\e90f";
$icon-delete: "\e910";
$icon-doc: "\e911";
$icon-download: "\e912";
$icon-edit: "\e913";
$icon-electric: "\e914";
$icon-euros: "\e915";
$icon-eye: "\e916";
$icon-eye-blind: "\e917";
$icon-filter: "\e918";
$icon-home: "\e919";
$icon-huawei-add-user-path1: "\e91a";
$icon-huawei-add-user-path2: "\e91b";
$icon-huawei-chat-path1: "\e91c";
$icon-huawei-chat-path2: "\e91d";
$icon-huawei-chat-path3: "\e91e";
$icon-huawei-contact-list-path1: "\e91f";
$icon-huawei-contact-list-path2: "\e920";
$icon-huawei-edit-path1: "\e921";
$icon-huawei-edit-path2: "\e922";
$icon-huawei-email-path1: "\e923";
$icon-huawei-email-path2: "\e924";
$icon-huawei-group-chat-path1: "\e925";
$icon-huawei-group-chat-path2: "\e926";
$icon-huawei-link-path1: "\e927";
$icon-huawei-link-path2: "\e928";
$icon-huawei-notification-path1: "\e929";
$icon-huawei-notification-path2: "\e92a";
$icon-huawei-review-path1: "\e92b";
$icon-huawei-review-path2: "\e92c";
$icon-huawei-search-path1: "\e92d";
$icon-huawei-search-path2: "\e92e";
$icon-huawei-smartphone-path1: "\e92f";
$icon-huawei-smartphone-path2: "\e930";
$icon-huawei-thumbs-up-path1: "\e931";
$icon-huawei-thumbs-up-path2: "\e932";
$icon-huawei-thumbs-up-path3: "\e933";
$icon-huawei-user-path1: "\e934";
$icon-huawei-user-path2: "\e935";
$icon-huawei-video-player-path1: "\e936";
$icon-huawei-video-player-path2: "\e937";
$icon-info: "\e938";
$icon-lightbulb: "\e939";
$icon-link: "\e93a";
$icon-list: "\e93b";
$icon-mail: "\e93c";
$icon-menu: "\e93d";
$icon-miniarrowbottom: "\e93e";
$icon-miniarrowleft: "\e93f";
$icon-miniarrowright: "\e940";
$icon-miniarrowup: "\e941";
$icon-minicards: "\e942";
$icon-minimize: "\e943";
$icon-more: "\e944";
$icon-mylocation: "\e945";
$icon-navigation: "\e946";
$icon-phone: "\e947";
$icon-play: "\e948";
$icon-question: "\e949";
$icon-reload: "\e94a";
$icon-satisfaction: "\e94b";
$icon-schedule: "\e94c";
$icon-search: "\e94d";
$icon-share: "\e94e";
$icon-social-facebook: "\e94f";
$icon-social-instagram: "\e950";
$icon-social-linkedin: "\e951";
$icon-social-pinterest: "\e952";
$icon-social-twitter: "\e953";
$icon-social-viadeo: "\e954";
$icon-social-vimeo: "\e955";
$icon-social-youtube: "\e956";
$icon-star: "\e957";
$icon-star-empty: "\e958";
$icon-star-half: "\e959";
$icon-touch: "\e95a";
$icon-work: "\e95b";

