.gamme {
    &--marquee {
        &__text {
            @include font-size(rem(48), rem(58));
            color: $gray-02;
            font-family: $font-secondary;
            font-weight: 800;
            white-space: nowrap;

            @include breakpoint(md) {
                @include font-size(rem(98), rem(118));
            }
        }
    }
}