// container review
.w-news {
    border-radius: rem(8);
    @include flex-col(12);
    margin-bottom: rem(36);

    @include breakpoint(sm) {
        @include flex-col(6);
    }
    @include breakpoint(md) {
        @include flex-col(4);
    }
    @include breakpoint(lg) {
        @include flex-col(3);
        margin-top: 0;
    }
}

.card-news {
    box-shadow: $box-shadow;
    width: 100%;
    height: 100%;
    border-radius: rem(8);
    position: relative;
    transition: transform 0.3s ease;

    max-width: rem(340);
    margin-right: auto;
    margin-left: auto;

    @include breakpoint(md) {
        &:hover {
            transform: translateY(rem(-8));

            .card-news {
                &__inner {
                    box-shadow: $box-shadow-hover-bottom;
                }
                &__container-img {
                    img {
                        transform: scale(1.1);
                    }
                }

                &__links {
                    color: $secondary-03;
                }
            }
        }
    }

    &__inner {
        overflow: hidden;
        border-radius: rem(8);
        background: $primary-white;
        height: 100%;
        transition: box-shadow 0.3s ease;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: rem(4);
            background-color: $secondary-03;
        }

    }

    &__container-img {
        @include img-homothetic(xs 66%);
        position: relative;
        overflow: hidden;
        z-index: 1;

        img {
            @include img-full;
            transition: transform 0.3s ease;
            transform: scale(1);
        }
    }

  
    &__container-text {
        padding: rem(24);
        background: $primary-white;
        /*  border-left: rem(4) solid $secondary-03;  */
        position: relative;

    }
    &__category {
        z-index: 2;
        margin: 0;
        position: absolute;
        top: 0;
        padding: rem(8) rem(16);
        background: $secondary-03;
        transform: translateY(-50%);
        display: inline-block;
        border-radius: rem(8);
        text-transform: uppercase;
        color: $primary-white;
        font-family: $font-secondary;
        font-weight: 700;
    }
    &__date {
        color: $gray-01;
        margin: rem(16) 0;
        font-family: $font-primary;
    }
    &__links {
        margin-top: rem(16);
      
    }
}

.full-link {
    width: 100%;
    height: 100%;
    position: absolute;
}
