/* ===================
      Wysiwyg
/* ===================*/
.wysiwyg {

  //**************** MARGIN **********************//

  & > *:last-child {
    margin-bottom: 0;
  }

  p, ul, ol {
    & + h2, + h3, + h4 {
      margin-top: rem(32);
    }
  }

  h2 {
    & + h3, + h4 {
      margin-top: rem(16);
    }
  }
  h3 {
    & + h2, + h4 {
      margin-top: rem(8);
    }
    & + .text {
      margin-top: rem(16);
    }
  }
  h4 {
    & + h3, + h2 {
      margin-top: rem(16);
    }
  }

  h2, h3, h4 {
    & + ul, + ol, + p {
      margin-top: rem(16);
      @include breakpoint(md) {
        margin-top: rem(24);
      }
    }
  }

  p {
    @extend %p;
    & + ul, + ol, + .btn-circle {
      margin-top: rem(16);
    }
    & + p, & + .btn {
      margin-top: rem(24);
    }
  }

  ul {
    & + ul, + ol {
      margin-top: rem(16);
    }
    & + p, & + .btn {
      margin-top: rem(24);
    }
  }

  ol {
    & + ol, + ul {
      margin-top: rem(16);
    }
    & + p, & + .btn {
      margin-top: rem(24);
    }
  }

  .text {
    & + .btn-container {
      margin-top: rem(16);
    }
  }

  //**************** CUSTOMIZE **********************//

  .headline {
    & + h2, & + h3 {
      margin-top: rem(8);
    }
  }

  h1 {
    @extend %h1;
  }

  h2 {
    @extend %h2;
  }

  h3 {
    @extend %h3;
  }

  h4 {
    @extend %h4;
  }

  ul {
    li {
      @extend %primary-list;
    }
  }

  ol {
    li {
      @extend %number-list;
    }
  }

  a {
    @extend %link;
  }

  .btn {
    a {
      text-decoration: none;
    }
    &:hover {
      a {
        color: $secondary-01;
      }
    }
  }

  hr {
    display: none;
  }
}

/* ===================
	    TEXTS
/* ===================*/
.w-text {
  h1 {
    + .w-btn {
      margin-top: rem(24);
      @include breakpoint(sm) {
        margin-top: rem(36);
      }
    }
  }
  h2, h1 {
    + p {
      @include breakpoint(sm) {
        margin-top: rem(16);
      }

    }

    + .wysiwyg {
      margin-top: rem(16);
    }
  }

  h2, h3 {
    + p {
      margin-top: rem(24);
    }
  }

  .headline {
    + h2, + h3, + h4 {
      margin-top: rem(8);
      @include breakpoint(md) {
        margin-top: rem(0);
      }
    }
    + p {
      margin-top: rem(8);
    }
  }

  .wysiwyg {
    + .btn {
      margin-top: rem(16);
      @include breakpoint(md) {
        margin-top: rem(24);
      }
    }
  }

  p, h3, h2, div {
    + .btn-container {
      margin-top: rem(24);
    }
  }

  .btn {
    + .btn, + .btn-circle {
      margin-top: rem(24);
    }
  }

  h4 {
    + .date {
      margin-top: rem(16);
      + .desc {
        margin-top: rem(16);
      }
    }
    + p {
      margin-top: rem(8);
    }
  }
  h5 {
    + p {
      margin-top: rem(8);
    }
  }
}
