.product--reviews {
    position: relative;
    overflow: hidden;

    &__list {
        margin-top: rem(48);
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .swiper-container {
            overflow: visible;
            width: rem(320);
            margin-left: rem(12);
            @include breakpoint-max(lg) {
                cursor: grab;
            }
            @include breakpoint(lg) {
                margin: 0;
                width: 100%;
            }
        }

        .swiper-wrapper {
            @include breakpoint(lg) {
                width: 100%;
                transform: translate3d(0px, 0, 0) !important;
            }
        }

    }

    &__w-card {
        
        @include breakpoint(lg) {
            margin: auto;
            @include flex-col(3);
            margin-top: 0;
        }

    }

}